

.auth-container {
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;

  background:
    radial-gradient(circle at top left, #dbeafe, transparent 30%),
    radial-gradient(circle at bottom right, #bfdbfe, transparent 30%),
    #f8fafc;
}

.auth-card {
  width: 100%;
  max-width: 500px;

  background: rgba(255,255,255,0.95);
  backdrop-filter: blur(12px);

  border-radius: 28px;
  padding: 30px;

  border: 1px solid #e2e8f0;

  box-shadow:
    0 25px 60px rgba(0,0,0,0.08);
}

.auth-card h2 {
  font-family: "Prata", serif;
  font-size: 2.3rem;
  color: #0f172a;
  text-align: center;
  margin-bottom: 12px;
}

.auth-card p {
  text-align: center;
  color: #64748b;
  font-size: 1.05rem;
  margin-bottom: 40px;
}

.auth-card form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.auth-card input {
  width: 100%;
  padding: 15px;

  border: 2px solid #e2e8f0;
  border-radius: 14px;

  font-size: 1rem;
  font-family: "Urbanist", sans-serif;

  transition: all 0.3s ease;
}

.auth-card input:focus {
  outline: none;
  border-color: #2563eb;

  box-shadow:
    0 0 0 5px rgba(37,99,235,0.12);
}

.auth-card input::placeholder {
  color: #94a3b8;
}

.auth-card button {
  margin-top: 10px;

  padding: 15px;

  border: none;
  border-radius: 14px;

  background: #2563eb;
  color: white;

  font-size: 1rem;
  font-weight: 700;
  font-family: "Urbanist", sans-serif;

  cursor: pointer;
  transition: all 0.3s ease;
}

.auth-card button:hover:not(:disabled) {
  background: #1d4ed8;
  transform: translateY(-2px);
}

.auth-card button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.switch {
  margin-top: 20px;
  text-align: center;
  color: #64748b;
  
}

.switch span {
  color: #2563eb;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.switch span:hover {
  color: #1d4ed8;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .auth-container {
    padding: 20px;
  }

  .auth-card {
    padding: 35px 25px;
    max-width: 100%;
  }

  .auth-card h2 {
    font-size: 2rem;
  }
}